.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Set a height for vertical centering */
  margin-top: 150px;
}

div {
  /* Styles for the div */
  color: white;
}
